@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins";
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #d4f2ef;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #29857f;
  outline: 1px solid #29857f;
}
.nav {
  padding: 0 5rem;
  font-size: 1.5rem;
  background-color: #29857f;
  color: #d4f2ef;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left img {
  width: 5rem;
}

.left p {
  font-weight: 800;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
}

.right p {
  font-size: 1.2rem;
  color: #d4f2ef;
  padding: 0.5rem;
  border-radius: 5px;
}
.main {
  padding: 2rem 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.addTaskDiv {
  width: 100%;
}

.row2 {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.6rem;
}
.addTask {
  flex: 2;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
}

input:not([type="button"]):not([type="submit"]):not([type="reset"]):hover,
input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  border: 1px solid #fff;
  outline: none;
}

.btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.addbtn {
  margin-right: 8px;
  background-color: rgb(41, 133, 127, 0.5);
}

.addbtn:active {
  transform: scale(0.8);
  background: rgb(41, 133, 127);
}
.tasksDiv {
  width: 100%;
  padding-bottom: 3rem;
}

.tasksrow1,
.row1Heading {
  color: #29857f;
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 600;
}
.tasksrow2 {
  background-color: #fff;
  margin: 3px;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}

.green {
  background-color: rgba(41, 133, 127, 0.1);
}
.tasksrow2:hover {
  background-color: rgba(41, 133, 127, 0.1);
}

.whatToDo {
  flex: 2;
  max-width: 71.5rem;
  min-height: 1rem;
}

.lineThrough {
  text-decoration: line-through;
  color: #29857f;
}

.editbtn {
  background-color: rgba(21, 111, 108, 0.8);
}

.editbtn:active {
  transform: scale(0.8);
  background: rgb(21, 111, 108);
}
.removebtn {
  background: rgba(255, 30, 30, 0.5);
}

.removebtn:active {
  transform: scale(0.8);
  background: rgba(255, 30, 30);
}

.check {
  accent-color: #156f6c;
  width: 1rem;
  height: 1rem;
}

.nothing {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  color: #29857f;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
